/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 *{
    font-family: 'ubuntu';
 }

 .sing_up_input {
    width: 100%;
    background-color: #e9ecf8;
    color: #000;
    border: none;
    outline: none;
    padding: 0.25rem;
}

.sign_up_label {
    @apply text-sm font-medium text-gray-700;
}

.sign_up_content {
    background-color: #e9ecf8;
    border-radius: 15px;
    padding: 0.1rem 1rem;
}

.bg-primary {
    background-color: #406afe;
}

.custom-shadow {
    box-shadow: 0 4px 6px rgba(217, 202, 241, 0.5);
}