/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 *{
    font-family: 'ubuntu';
 }

 .sing_up_input {
    width: 100%;
    background-color: #e9ecf8;
    color: #000;
    border: none;
    outline: none;
    padding: 0.25rem;
}

.sign_up_label {
    @apply text-sm font-medium text-gray-700;
}

.sign_up_content {
    background-color: #e9ecf8;
    border-radius: 15px;
    padding: 0.1rem 1rem;
}

.bg-primary {
    background-color: #406afe;
}

.custom-shadow {
    box-shadow: 0 4px 6px rgba(217, 202, 241, 0.5);
}

.bg-special{
    backdrop-filter: blur(20px);
}

.test{
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1473&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /*background-image: url('https://images.pexels.com/photos/57416/cat-sweet-kitty-animals-57416.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');*/
    /*background-image: url('https://images.unsplash.com/photo-1515879218367-8466d910aaa4?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');*/
}